.entrance {
    text-align: center;
}
.thumbnail {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
}

.jumbotron{
	font-family: 'Hind', sans-serif;
}

.navbar{
	font-family: 'Questrial', sans-serif;
}

.id-photo{
	float: right;
}

.cover{

	float: left;
	padding-left: 10%;
}